<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/registerStyles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="form" action="#" method="GET">
                    <div class="input">Buscar productos, marcas y más</div>
                    <div class="submit"><i class="fa fa-search"></i></div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main class="register">
            <form id="form-register" action="/" autocomplete="off">
                <input class= "input-register" type="text" name="name" placeholder="Nombre y apellido" required required minlength="6" pattern="[a-z]{1,15}" title="Only contain lowercase letters">
                <span class="feedback" ></span>
                <input class= "input-register" type="text" name="user" placeholder="Nombre de usuario" required minlength="4">
                <span class="feedback" ></span>
                <input class= "input-register" type="email" name="email" placeholder="E-mail" required>
                <span class="feedback" ></span>
                <br>
                <label class="register-form-label" for="birth_date"><b>Fecha de nacimiento</b></label>
                <br>
                <input  class= "input-birth" type="date" name="birth_date" id="birth_date" required>
                <span class="feedback" ></span>
                <br>
                <input  class= "input-home" type="text" name="addres" placeholder="Domicilio" required>
                <span class="feedback" ></span>
                <h4>Perfil del usuario</h4>
                <div class="profile" required>
                    <input class= "input-register" type="radio" name="profile" value="buy" id="buy">
                    <label class= "input-register" for="buy">Comprador</label>
                    <input class= "input-register" type="radio" name="profile" value="sell" id="sell">
                    <label class= "input-register" for="sell">Vendedor</label>
                    <span class="feedback" ></span>
                </div>

                <h4 class="register-form-label" >Intereses</h4>
                <div class="interests" required>
                    <div class="interest" >
                        <input class= "input-register" type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label>
                    </div>
                    <div class="interest">
                        <input class= "input-register" type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label>
                    </div>
                    <div class="interest">
                        <input class= "input-register" type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div>
                    <div class="interest">
                        <input class= "input-register" type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label>
                    </div>
                    <div class="interest">
                        <input class= "input-register" type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label>
                    </div>
                    <span class="feedback" ></span>
                </div>
                
                <h4>Elegí tu foto de usuario</h4>
                <input class= "input-register"  type="file" name="avatar" required>
                <br>
                <br>
                <input class= "input-register" type="password" name="pass" placeholder="Elegí tu contraseña" required minlength="6">
                <span class="feedback" ></span>
                <input class= "input-register" type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" required minlength="6">
                <span class="feedback" ></span>
                <br>
                <br>
                <a id="bregister-send" href="/"><button>Enviar</button></a>
                <button id="bregister-clear" type="reset">Borrar</button>
                <br>
                <br>
            </form>
        </main>
        <footer>
            <div>            
                <article>
                    <i class="fa-solid fas fa-credit-card" id="credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>
                        Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                        es seguro!
                    </p>
                </article>
                <article>
                    <i class="fa-sharp fas fa-solid fa-gift" id="gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio
                        de
                        Mercado Puntos.
                    </p>
                </article>
                <article>
                    <i class="fa-solid fas fa-user-shield" id="secure"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
                        protegid@.
                    </p>
                </article>
            </div>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </footer>
    </body>
</html>